.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  /* background-color: rgb(230, 230, 230); */
  margin: 0;
  padding: 0;
  background-color: black;
  color: rgb(230, 230, 230);
}

button {
  background-color: dodgerblue; /* Green */
  color: #ffffff;
  border-radius: 8px;
  text-align: center;
  font-size: 16px;
  outline: none;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border: none;
}
.btn-container {
  display: flex;
  justify-content: center;
}
.selected {
  background-color: #ffffff; /* Green */
  color: dodgerblue;
}

ul {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 530px;
  margin: 0 auto;
  padding: 0;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
  color: white;
  padding: 1rem;
  border: 1px solid #d1d5db;
  width: 70%;
  margin: 1rem 0rem;
  border-radius: 0.5rem;
  background-color: #4e4e50;
}

.lg {
  font-size: 20px;
  font-weight: 700;
}
.sm {
  font-size: 16px;
}
.xs {
  font-size: 14px;
}
.mx-1 {
  margin: 1rem 0;
}
